.maincontaints {
  display: flex;
  height: 100vh;
}

.boardList {
  width: 300px;
  background-color: rgb(212, 224, 224);
  overflow-y: scroll;
}

.threadList {
  width: calc(100vw - 300px);
  background-color: rgb(212, 224, 224);
  overflow-y: scroll;
}

/** 板名1行 */
.boardItem {
  width: 100%;
  text-align: left;
}

/** 板名削除ボタン以外 */
.boardName {
  width: calc(100% - 30px);
  text-align: left;
}

.mdl-tooltip {
  max-width: initial;
}

.mdl-button {
  text-transform: initial;
}
